header {
    display:flex;
    flex-direction: row;
    justify-content:center;
}

body {
    height: 90vh;
    font-family: "Texturina", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size:26px;
    font-style: normal;
}

h1 {
    font-family: "UnifrakturMaguntia", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    gap: 25px;
}

#content img.logo {
    height:300px;
}

#content p.description {
    width: 500px;
    text-align: center;
    margin: 0;
}

nav button {
    border: 0;
    background: none;
    font-family: "Texturina", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size:26px;
    font-style: normal;
    text-underline-offset: 5px;
}

nav button:hover {
    color: rgb(40, 79, 220);
    cursor: pointer;
}

nav button.selected{
    text-decoration: underline;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.menu-item {
    display: flex;
    flex-direction: row;
    gap: 24px;
    width: 720px;
    align-items: center;
}

.menu-item img {
    width: 284px;
    height: 177px;
}

.menu-item .menu-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.menu-item h3 {
    font-size: 18px;
    margin: 0;
}

.menu-item .menu-desc {
    font-size: 15px;
    margin: 0;
}

.menu-item .menu-blurb {
    font-size: 15px;
    font-style: italic;
    font-weight: 200;
    margin: 0;
}

.menu-item .menu-price {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}

.about {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    width:700px;
}

.about img {
    height: 600px;
    width: auto;
}

.about-title {
    font-size:24px;
}

.about-description {
    text-align: left;
    margin: 0;
    font-size:18px;
}