header {
    display:flex;
    flex-direction: row;
    justify-content:center;
}

body {
    height: 100vh;
    font-family: "Texturina", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size:26px;
    font-style: normal;
}

h1 {
    font-family: "UnifrakturMaguntia", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

#content img.logo {
    height:300px;
}

#content p.description {
    width: 500px;
    text-align: center;
}

nav button {
    border: 0;
    background: none;
    font-family: "Texturina", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size:26px;
    font-style: normal;
    text-underline-offset: 5px;
}

nav button:hover {
    color: rgb(40, 79, 220);
    cursor: pointer;
}

nav button.selected{
    text-decoration: underline;
}